<form action='/session' method='POST'>
  <label for='username'>Username: </label>
  <input type='text' name='username'>
  <label for='password'>Password: </label>
  <input type='password' name='password'>
  <input type='submit' value='log in'>
</form>
