<% @users.each do |user| %>
<h1><%= user.id %> | <%= user.username %></h1>
<form action="/users/<%= user.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>
<% end %>
